<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<section>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
    <span class="material-symbols-outlined back-btn" [routerLink]="['/home']" routerLinkActive="active">
        arrow_back_ios
    </span>
      <label for="question">Frage:</label>
      <textarea id="question" required [(ngModel)]="question" type="text"></textarea>
  
      <label for="answer">Antwort:</label>
      <textarea id="answer" required [(ngModel)]="answer" type="text"></textarea>

      <button (click)="updateCard()" type="submit">speichern</button>

</section>